@import "tailwindcss";

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'IRANSans_Bold';
  src: url('/fonts/IRANSans_Bold.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --font-iransans: 'IRANSans', sans-serif;
  --font-iransans-bold: 'IRANSans_Bold', sans-serif;
}


@layer utilities {
  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
  }

  .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    flex-shrink: 0;
    width: 100%;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.swiper-slide-custom {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
}

/* فاصله دادن bulletها از کارت‌ها و تنظیم flex */
.swiper-pagination {
  position: relative !important;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px; /* فاصله مناسب از کارت */
  margin-bottom: 10px;
}

/* ظاهر دکمه‌های bullet */
.custom-swiper-bullet {
  width: 8px;
  height: 8px;
  background: #f97316;
  opacity: 0.6;
  transition: all 0.3s ease;
  border-radius: 9999px;
  margin: 0 5px;
}

.custom-swiper-bullet-active {
  background: #ea580c;
  opacity: 1;
  transform: scale(1.2);
}


.ltr {
  direction: ltr;
}

.text-justify-last-right {
  text-align: justify;
  text-align-last: right;
}
